# Node modules
node_modules
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.pyo
*.pyd
.Python
db.sqlite3
.env

# Django static/media
staticfiles/
media/

# macOS
.DS_Store

# Build
build/
dist/
*.egg-info
